@import './variables-light.css';

.comment-card {
    flex-flow: row nowrap;
    gap: .5rem;
}

.comment-card__item--left {
    flex-flow: column nowrap;
    width: min-content; /* temp */
    gap: 1rem;
}

.comment-card__item--right {
    flex-flow: column nowrap;
    gap: 1rem;
}

.comment-card__item--right--top {
    flex-flow: row wrap;
    column-gap: 1rem;
}

.comment-author {
    font-weight: 600;
}

.comment-date {
    color: var(--comment-date-color);
}

.comment-body {
    background-color: var(--comment-card-bg);
    border-radius: 5px;
    padding: 1rem;
}

.comment-card__item--left--top {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.comment-card__item--left--bottom {
    align-self: center;
    padding: .5rem;
}

.positive {
    background-color: var(--myrtle-green--light);
}

.negative {
    background-color: var(--tomato-light);
}

.neutral {
    background-color: var(--jet-light);
}