@import './variables-light.css';

footer {
    background-color: var(--footer-bg);
    color: var(--footer-font);
}

.footer {
    max-width: 79.5rem;
    margin: 0 auto;
    padding: 3rem clamp(8px, 2%, 1.5rem);
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.footer__logo {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: var(--logo--footer--size);
}

.footer__links {
    font-size: var(--links--footer--size);
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    font-variant: small-caps;
}

.footer__link {
    list-style-type: none;
}

.footer__link a {
    text-decoration: none;
    color: var(--footer-font);
}

.footer__link a:hover {
    color: var(--hover-font-colour--footer);
}

.flex__item--left {
    text-align: left;
}

.flex__item--right {
    text-align: right;
}

@media (max-width: 480px) {
    .footer__links {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .flex__item--left,
    .flex__item--right {
        text-align: center;
    }
}