@import './variables-light.css';

.App > *:not(nav, footer) {
    margin: 1.5rem auto;
    max-width: 79.5rem;
    padding: 0 clamp(8px, 2%, 1.5rem);
}

h1,
h2:not(.article-card h2) {
    font-variant-caps: all-small-caps;
}

h1 {
    font-size: var(--h--l);
}

h2 {
    font-size: var(--h--m);
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: var(--font-colour);
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}